#container{/Users/sugawaramegumi/Desktop/webLesson/day3/index.html 
	margin:0 auto;
	padding:10px;
}
header{
	background-size:cover;
	background:url(../images/hokuoMain.jpg);
	height:400px;
	}
header h1{
		font-size:3.5vw;
		color:#666;
		line-height:400px;
		padding:0 auto;
		text-align:center;
	}
nav ul{
	list-style:none;
	display:flex;
	flex-direction:low;
	justify-content:space-around;
	padding:5px 10px;
	background:#c8c8c8;
	}
nav ul li a{
	text-decoration:none;
	list-style:none;
	}
*{box-sizing:border-box;}
#p1{
	text-align:center;
	margin:0 auto;
}
p{
		padding:30px;
	}
h2{
		background:#c8c8c8;
		color:#fff;
		text-align:center;

	}
#img{
		display:block;
		width:50%;
		border:0.2px solid #8c8c8c;
		box-sizing:border-box;
		list-style:none;
		float:left;
	}
footer{
		background:#c8c8c8;
		flex-direction:row;
		text-align:center;
		padding:10px;
		color:#fff;
	}
