.headerImage{
	width:100vw;
	height:400px;
	}
header h1{
		font-size:5vw;
		color:#666;
		line-height:400px;
		padding:0 auto;
		text-align:center;
	}
#pic{
	animation:imgfade 4s infinite;
	opacity:0;
	}
@keyframes imgfade{
	0%{opacity:0;}
	25%{opacity:1;}
	50%{opacity:1;}
	75%{opacity:1;}
	100%{opacity:0;}
	}
nav ul{
	list-style:none;
	display:flex;
	flex-direction:low;
	justify-content:space-around;
	padding:5px 10px;
	background:#c8c8c8;
	}
nav ul li a{
	text-decoration:none;
	list-style:none;
	}
*{box-sizing:border-box;}
p{
		padding:30px;
	}
h2{
		background:#c8c8c8;
		color:#fff;
		text-align:center;

	}
ul li img{
		display:block;
		width:50%;
		border:0.2px solid #8c8c8c;
		box-sizing:border-box;
		list-style:none;
		float:left;
	}
footer{
		background:#c8c8c8;
		flex-direction:row;
		text-align:center;
		padding:10px;
		color:#fff;
	}
